$def with (url)
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/master.css" type="text/css" media="screen" />
    <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'>
    <title>Short Link App</title>
  </head>

  <body>
    <div class="container">
      
      <a href="/" id="logo">Short Link App</a>
      <form method="POST" id="" action="shorten">
        <input type="text" name="url" value="" id="url"/>
        <input type="submit" id="submit" value="shorten" />
      </form>

      <div class="clear"></div>
      $if url:
      <div class="result">
        <a href="$url">$url</a>
      </div>
    </div>
  </body>
</html>
