body {
    font-family:"Gill Sans", "Gill Sans MT", Sans-Serif;
}

.container {
    width: 400px;
    margin: 120px auto 0px auto;
}

h1 {
    width: 400px;
    margin-bottom: 12px;
    text-align: center;
    color: #ff4b33;
    font-size: 40px;
    padding-bottom: 8px;
    border-bottom:2px solid #ff4b33;
}