body {
    font-family:"Gill Sans", "Gill Sans MT", Sans-Serif;
}

.container {
    width: 400px;
    margin: 120px auto 0px auto;
}

#logo {
    width: 400px;
    margin:0px auto 12px auto;
    text-align: center;
    color: #ff4b33;
    font-size: 46px;
    padding-bottom: 8px;
    font-family: 'Kelly Slab', cursive;
    text-decoration: none;
}

form {
    margin-top: 10px;
    display: block;
    width: 400px;
}

input {
    display: block;
    float: left;
    padding: 8px;
    font-size: 16px;
}

#url {
    width: 280px;
    margin-right: 12px;
}

#submit {
    width: 80px;
    border: none;
    background:#ff4b33;  
    border-radius: 20px 20px 20px 20px;
    color: #ffffff;
}

#submit:hover {  
    background:#ff7866;
    box-shadow: 1px 2px 1px #CCCCCC;
}

clear {
    height:1px;  
    width:400px;  
    clear:both;  
}

.result {
    clear: both;
    width: 400px;
    margin: 70px auto 0px auto;
    border-top:2px solid #ff4b33;
    padding-top:12px;
    text-align: center;
}

.result a {  
    font-size:24px;  
    display:block;  
    margin-top:8px;  
    color:#ff2d11;  
    background:#ffd2cc;  
    padding:8px;  
} 